* {
    font-family: Palatino;
    background-color: grey;
    font-size: medium;
    background-image: url('images/Background2.jpeg')
}

h1 {
    color: maroon;
    border: 1px, maroon;
    border-style: groove;
    text-align: center;
    background-color: brown
}

h2 {
    color:maroon;
}

p {
    font-variant-ligatures: contextual;
}

button {
    color: black;
    font: white;
}

button:hover {
    color: red;
    font: black;
    border: groove black;
}

img {
    border: 5px groove black;
}

table {
    align-items: center;
}