* {
    font-family: Palatino;
    font-size: 20px;
    background-color: beige;
}

.header {
    padding: 60px;
    text-align: center;
    font-size: 75px;
    background-image: url('images/vectorSeamlessTree.jpg')
}

#skills {
    background-image: url('images/vectorSeamlessTree.jpg');
    font-size: 60px;
    color: maroon;

}

#history {
    background-image: url('images/vectorSeamlessTree.jpg');
    font-size: 60px;
    color: maroon;
}

#languages {
    background-image: url('images/vectorSeamlessTree.jpg');
    font-size: 60px;
}

h1 {
    color: maroon;
    border: 1px, maroon;
    border-style: groove;
    text-align: center;
    background-color: white;
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    color:maroon;
}

p {
    font-variant-ligatures: contextual;
}

button {
    color: black;
    font: white;
}

button:hover {
    color: red;
    font: black;
    border: groove black;
}

img {
    border: 5px groove black;
    align-items: center;
    size: 150px;
}

table {
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}